<% layout('layouts/boilerplate')%>

<style>
    #footer {
    position:fixed;
    bottom:0;
    width:100%;
    }

    #map {
    width: 100%;
    height: 600px;
    border-radius: 10px;
    }


    .leftColumn{
    width: 30%;
    padding-right: 0px;
    }

    .rightColumn{
    width: 70%;
    padding-left: 3px;
    }

    .form-group{
    padding: 5px;
    }

    .mapboxgl-popup {
    max-width: 200px;
    }

    .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    }

    #marker {
        background-image: url('https://docs.mapbox.com/mapbox-gl-js/assets/washington-monument.jpg');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .mapboxgl-popup {
        max-width: 200px;
    }
</style>


<main class = "p-2" >

    <div class = "row">
        <div class="leftColumn">
            <div class="form-group">
                <label for="">Felony Type: </label>
                <select class="dropdown" id="dd_crimeType" style="max-width: 200px;">
                </select>
            </div>
            <div class="form-group">
                <label for="">Year:</label>
                <select class="dropdown" id="dd_crimeyear">
                </select>
            </div>

            <!-- <button>search</button> -->
            <div class="d-grid gap-2 d-md-block my-lg-2">
                <button class="btn btn-primary" type="button" id="search_bt" >Search</button>
            </div>
        
        </div>

        <div class = "rightColumn">
            <div class="container">
                <div id='map' class = 'map'>
                </div>
            </div>
        </div>
    </div>

</main>

<!-- <script scr = "../public/scripts/map.js"></script>
<script scr = "../public/scripts/home.js"></script> -->

<!-- import 3rd party scripts and styles -->
<link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">



<script src="../static/home.js"></script> 
<script src="../static/map.js"></script> 
<script src="../static/marker.js"></script> 

